* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #efd6b6;
  font-family: "Sofia Sans Condensed", sans-serif;
}

main {
  max-width: 1120px;
  margin: auto;
}

form {
  margin: auto;
  max-width: 400px;

  padding: 30px;
}

h1 {
  margin: auto;
  text-align: center;
  padding: 20px;
  font-size: 50px;
}

h2 {
  text-align: center;
}

label,
input,
button,
select {
  display: block;
}

label {
  margin: 30px 0px 0px 0px;
  font-size: 20px;
  width: 100%;
}

select {
  margin: 5px 0px 0px 0px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

input {
  margin: 5px 0px 0px 0px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

button {
  margin: 30px 0px 0px 0px;
  font-size: 15px;
  padding: 10px 100px 10px 100px;
  width: 100%;
}

.abba_img {
  width: 100%;
  padding-top: 100px;
  margin: auto;
}
