body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  /* background-image: url(/photoshop_forside_1.png);
    background-size: cover;
    background-repeat: no-repeat, repeat; */
  background-color: #ffffff;
  margin: 0;
  font-family: "Sofia Sans Condensed", sans-serif;
}

main {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0c0c;
  justify-content: center;
}

.nav_a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.headerLogo {
  max-width: 60px;
}

.logo {
  grid-column: 2/3;
  grid-row: 1/4;
  object-position: cover;
  width: 100%;
  padding-top: 10%;
}

.forsideBillede {
  grid-column: 1/3;
  grid-row: 1/4;
  object-position: cover;
  width: 150%;
}

footer {
  background-color: #f1b56c;
  margin: 0;
}

p {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.grid1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
