/* songlist */

body {
  background-color: #efd6b6;
  font-family: "Sofia Sans Condensed", sans-serif;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0c0c;
  justify-content: center;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/*
h1 {
text-align: center;
}*/

.songlistDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

article {
  margin: auto;
}

img {
  width: 350px;
}

footer {
  background-color: #f1b56c;
  margin: 0;
}

footer p {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

footer a {
  text-decoration: none;
  color: black;
}

footer .grid1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
